<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat</title>

  <link rel="stylesheet" href="/css/generic/reset.css">
  <link rel="stylesheet" href="/css/component/chat-container.css">
</head>
<body>
  <main class="chat-container">
    <section class="content"></section>
    <input type="text" class="msg">
  </main>
</body>
</html>